@{
    ViewBag.Title = "_master";
}
<html>
    <head>
        <title>Mr. & Mrs. Schanck</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <a class="brand" href="@Url.Action("Index", "Home")">Mr. & Mrs. Schanck</a>
                        @*<li><a href="~/RSVP">RSVP</a></li>*@
                        <li>@Html.ActionLink("Registry", "Index", "Registry")</li>
@*                        <li><a href="#">Bridal Party</a></li>
                        <li><a href="#">Hotel Info</a></li>*@
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Vendors<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://sunflowerproductionsllc.com/">Sunflower Productions</a></li>
                                <li><a href="http://www.flatrockrec.org/nav/index.asp?page_id=4">Stone Creek</a></li>
                            </ul>
                        </li>                          
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            @RenderBody()
        </div>

        <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        @*<script src="@Url.Content("~/Scripts/bootstrap-dropdown.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap-tooltip.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap-popover.js")"></script>*@
        @*<script src="@Url.Content("~/Scripts/bootstrap-carousel.js")"></script>*@
        <script type="text/javascript">
            //$(document).ready(function () {
            //    $('.dropdown-toggle').dropdown();
            //});
            
            //$(function () {
            //    $('.carousel').carousel({
            //        interval: 4000
            //    })
            //});
        </script>
    </body>

</html>